.order {
  width: 80%;
  border: 1x solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;

  .order__ingredients {
    display: flex;

    span {
      text-transform: capitalize;
      display: inline-block;
      margin: 0 8px;
      border: 1px solid #ccc;
      padding: 5px;
    }
  }
}
